    @font-face{
        font-family: inconsolata;
        src: url(/carpeta-digital/assets/inconsolata-webfont.woff2)
    }

    @media screen and (max-width: 600px){
        h1,
        h2,
        h3,
        h4,
        p,
        a{
            margin-left: 10px;
            margin-right: 10px;
        }

        header a {
            margin-left: 0px;
            margin-right: 0px;
        }

        img {
            height: auto;
            width: 100%;
        }

    }
        

    .normal h1,
    .normal h2,
    .normal h3,
    .normal h4 {
        font-family: inconsolata;
    }
    
    .normal p,
    .normal a,
    .normal li {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    }
    
    body {
        margin: 0 auto;
        max-width: 700px;
        text-align: left; 
    }

    /* https://paletadecolores.online/azul/ */
    header{
        width: auto;
        height: 100px;
        background-color: #003785;
        text-align: center;
    }

    header h1 {
        color: #2196f3;
        margin-top: 0%;
        font-family: inconsolata;
    }

    .boton-inicio {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #2196f3;
        background-color: #003785;
        border: 2px solid #003785;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .boton-inicio:hover {
        background-color: #1465bb;
        border-color: #0059b3;
    }

    .boton-inicio:active {
        background-color: #001e40;
        border-color: #001e40;
    }

    .boton-inicio-noche {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #2196f3;
        background-color: #56070c;
        border: 2px solid #56070c;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .boton-inicio-noche:hover {
        background-color: #170000;
        border-color: #350a06;
    }

    .boton-inicio-noche:active {
        background-color: #000000;
        border-color: #000000;
    }

    .bodyNoche {
        background-color: #170000;
    }

    .bodyNoche p,
    .bodyNoche a,
    .bodyNoche li {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
        color: #8f3d38;
    }

    .bodyNoche code {
        color: white;
    }

    .normal  code {
        color: black;
    }

    .bodyNoche h1,
    .bodyNoche h2,
    .bodyNoche h3,
    .bodyNoche h4 {
        font-family: inconsolata;
        color: #cb7169;
    }

    .headerNoche {
        background-color: #350a06;
    }

    .headerNoche h1{
        color: #8f3d38;
        margin-top: 0%;
        font-family: inconsolata;
    }

    .asd {
        color:black;
    }

